# URL du serveur pour l'app native Capacitor
# Dev (emulateur) : http://10.0.2.2:3000
# Dev (meme WiFi) : http://192.168.x.x:3000
# Production        : https://ton-domaine.com
CAP_SERVER_URL=http://192.168.100.14:3000
